#left-nav-online{
    position: fixed;
    right: 0;
    overflow: auto;
    height: 90vh;
    padding: 0;
}
#left-nav-online .user-online{
    display: flex;
    margin-bottom: 3px;
    margin-top: 3px;
    background: whitesmoke;
    padding: 7px;
    cursor: pointer;

}
#left-nav-online .user-online:hover{
    background: gray;
}
#left-nav-online .user-online *{
    padding: 0;
    margin: 0;
}
#left-nav-online .user-online .name{
    width: 90%;
}
#left-nav-online .user-online .is-online{
    width: 10%;
}